*{
  background-color: rgb(30,41,49);
  box-sizing: border-box;
}
@media screen and (max-width: 700px) {
  .container{
    display: inline-flex;
  }
}


.container{
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(5, 5, 5, 0.5);
    overflow:  hidden;
    cursor: pointer;
}
.details {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.container:hover .image {
    opacity: 0.3;
  }
  .container:hover .details {
    opacity: 0.9;
  }
  .details h3{
    color: white;
    text-transform: capitalize;
    font-family: Verdana, sans-serif
  }